<% if (post.prev || post.next){ %>
<nav class="article-nav">
  <% if (post.prev){ %>
    <a href="<%- url_for(post.prev.path) %>" id="article-nav-newer" class="article-nav-link-wrap">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
          <i class="material-icons">arrow_back</i>
    </button>
      <strong class="article-nav-caption"><%= __('Newer') %></strong>
    </a>
  <% } %>
  <% if (post.next){ %>
    <div class="mdl-layout-spacer"></div>
    <a href="<%- url_for(post.next.path) %>" id="article-nav-older" class="article-nav-link-wrap">
      <strong class="article-nav-caption"><%= __('Older') %></strong>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
      <i class="material-icons">arrow_forward</i>
    </button>
    </a>
  <% } %>
</nav>
<% } %>