<html>
  <head>
    <% include includes/head %>
    <link rel='stylesheet' href='/css/about.css'>
  </head>
  <body>
    <main>
      <div class='parallax-container'>
        <% include includes/header %>
        <div class='parallax'>
          <img id='parallax-img' src='/img/bg1.jpg'>
        </div>
      </div>
      <div class='section white'>
        <div class='row container'>
          <% scrollspy(page.content) %>
          <%- page.content %>
        </div>
      </div>
    </main>
    <% include includes/script %>
    <script src='/js/about.js'></script>
  </body>
</html>