<html>
  <head>
    <% include includes/head %>
    <link rel='stylesheet' href='/css/about.css'>
  </head>
  <body>
    <main>
      <div class='parallax-container'>
        <% include includes/header %>
        <div class='parallax'>
          <img id='parallax-img' src='/img/bg.jpg'>
        </div>
      </div>
      <div class='row margin-top-container'>
        <div class='col s10 offset-s1 card row'>
          <h1><%- page.title %></h1>
          <div class='col s10'>
            <%- page.content %>
          </div>
            <div class="col s2">
              <div class="toc-wrapper">
                <%- scrollspy(page.content) %>
              </div>
          </div>
        </div>
      </div>
    </main>
    <% include includes/script %>
    <script src='/js/post.js'></script>
  </body>
</html>