<div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop mdl-color--teal-400 fab-card">
	<a class="mdl-button mdl-js-ripple-effect mdl-js-button
		mdl-button--fab mdl-color--accent fab mdl-shadow--4dp"
		href="/" title="Back To Homepage">
		<i class="material-icons mdl-color-text--white">keyboard_arrow_up</i>
	</a>
	<div class="mdl-card__title mdl-card--expand">
		<img src="/img/category/defalut.svg" class="unnamed2">
	</div>
	<div class="mdl-card__actions deepen-action">
		<span><%- page.category %></span>
		<div class="mdl-layout-spacer"></div>
		<button id="cat-menu" class="mdl-button mdl-js-button mdl-button--icon">
			<i class="material-icons">keyboard_arrow_up</i></button>
		<ul class="mdl-menu mdl-menu--top-right mdl-js-menu mdl-js-ripple-effect" for="cat-menu">
			<li disabled class="mdl-menu__item mdl-menu__item--full-bleed-divider">
				Other Categories</li>
				<% site.categories.each(function(category){ %>
					<% if (category.slug != page.category){ %>
					<a href="/<%- category.path %>"><li class="mdl-menu__item">
						<%- category.slug %></li></a>
					<% }%>
			<% }) %>
		</ul>
	</div>
</div>
<% page.posts.each(function(post){ %>
	<%- partial('_partial/card-post', {post: post}) %>
<% }) %>