<div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop logo-card">
	<a class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent"
		href="/">
		<i class="material-icons mdl-color-text--white">keyboard_arrow_up</i>
	</a>
	<div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-color--grey-100">
  		<div>
			<strong><%= config.title %></strong>
		</div>
	</div>
</div>

<% page.posts.each(function(post, i){ %>
	<%- partial('_partial/post_entry', {post: post}) %>
<% }) %>