<div class="mdl-layout__tab-panel is-active" id="tab1">
	<div class="mdl-grid">
    	<% site.posts.sort("date", "desc").each(function(post){ %> 
            <%- partial("_partial/post_entry", {post: post}) %> 
    	<% }) %>
	</div>
</div>