<%- partial('_partial/head') %>
<body>
	<div class="mdl-layout mdl-js-layout solomon-background">
		<main>
			<div class="row-spacer mdl-layout--large-screen-only"></div>
			<div class="mdl-grid max-width index"><%- body %></div>
			<div class="row-spacer mdl-layout--large-screen-only"></div>
		</main>
	</div>
</body>
