<%- partial('_partial/head') %>
<body class="mdl-layout mdl-js-layout solomon-background">
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<%- partial('_partial/header') %>
		<main>
			<div class="mdl-grid max-width">
				<%- body %>
			</div>
		<%- partial('_partial/footer') %>
		</main>
	</div>
</body>
