<head>
    <title><%- page.title %></title>
    <script src="/js/material.min.js"></script>
    <link rel="stylesheet" href="/css/lib/material.min.css">
</head>
<body>
<p class="mdl-shadow--4dp">
<%- page.title %></p>
<hr>
<%- page.content %>
</body>

