@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/css/font/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/css/font/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(/css/font/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(/css/font/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.solomon-background{
  background: url('/img/background.jpg') center / cover;
}

.mdl-layout__header {
  background-color: rgba(1, 66, 96, 0.5);
  color: #fff;
}

.mdl-layout__tab-bar{
  background-color: rgba(1, 66, 96, 0.5);
  width: 100%;
  height: 48px;
  color: #fff;
}

.c1 {
  background: url('/img/1.png') center / cover;
}

.card-title {
	max-width: 500px;
	min-width: 300px;
	max-height: 250px;
	min-height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 600;
}

.headline {
/*  display: block;
  max-height: 250px;
  max-width: 900px;*/
  width: 100%;
  height: auto;
}

img.article-image {
  width: 100%;
  height: auto;
}

.demo-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}
.mdl-card__title-text {
}

.mdl-layout__navigation {
	overflow: hidden;
	/*posittion: absolue;*/
	height: 64px;
	width: 100%;
	bottom: 0;
	left: 0
}

.max-width {
  max-width: 900px;
  width: 100%;

}

.recent-post-grid {
  max-width: 800px;
}

.mdl-mega-footer__middle-section {
  margin: auto;
}

.demo-blog .section-spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.article-nav {
  width: 100%;
  margin: 12px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify-content;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.article-nav-link-wrap {
  text-decoration: none;
  color: red;
}

.demo-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}

#article-nav-older {
  text-align: right;
}

.index {
  padding-top: 166px;
  margin: auto;
}

.demo-blog .something-else .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.logo {
  background: url('/img/logo.png') center;
  background-repeat: no-repeat;
}

.demo-navigation-link {
  width: 100%;
  text-align: center;
  height: 64px;
  line-height:64px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.vertical-navigation{
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-align-items:stretch;
  -ms-flex-align:stretch;
  -ms-grid-row-align:stretch;
  align-items:stretch;
}

.category-name{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.c2{
  background: url('/img/android.png') center;
  background-repeat: no-repeat;
}

.c3{
  background: url('/img/frontend.png') center;
  background-repeat: no-repeat;
}

.c4{
  background: url('../assets/demos/image_card.jpg') center / cover;
}
/*.logo-card .mdl-card__supporting-text {
    background-color: #F5F5F5;
}*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.book-list {
  margin: 0;
  padding: 0;
}

.book-icon {
  margin-right: 16px !important;
}

.test {
  background-color: rgba(0, 0, 0, 0.2);  
}