@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/font/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/font/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(/font/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(/font/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.solomon-background{
  background: url('/img/background.jpg') center / cover;
}

.mdl-layout__header {
  background-color: rgba(1, 66, 96, 0.5);
  color: #fff;
}

.mdl-layout__tab-bar{
  background-color: rgba(1, 66, 96, 0.5);
  width: 100%;
  height: 48px;
  color: #fff;
}

.card-title {
	max-width: 500px;
	min-width: 300px;
	max-height: 250px;
	min-height: 150px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: 600;
}

.headline {
/*  display: block;
  max-height: 250px;
  max-width: 900px;*/
  width: 100%;
  height: auto;
}

.demo-back {
  position: absolute;
  top: 16px;
  left: 16px;
  color: white;
  z-index: 9999;
}
.mdl-card__title-text {
}

.mdl-layout__navigation {
	overflow: hidden;
	/*posittion: absolue;*/
	height: 64px;
	width: 100%;
	bottom: 0;
	left: 0
}

.max-width {
  max-width: 900px;
  width: 100%;
  margin: auto;

}

.recent-post-grid {
  max-width: 800px;
}

.mdl-mega-footer__middle-section {
  margin: auto;
}

.demo-blog .section-spacer {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.article-nav {
  width: 100%;
  margin: 12px 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify-content;
          justify-content: space-between;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}

.article-nav-link-wrap {
  text-decoration: none;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
}

.demo-blog .meta {
  box-sizing: border-box;
  padding: 16px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: auto;
}

#article-nav-older {
  text-align: right;
}

.demo-blog .something-else .mdl-card__media {
  font-size: 13px;
  font-weight: 500;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.square {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
}

.logo {
  background: url('/img/logo.png') center;
  background-repeat: no-repeat;
}

.demo-navigation-link {
  width: 100%;
  text-align: center;
  height: 64px;
  line-height:64px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
}

.vertical-navigation{
  -webkit-flex-direction:column;
  -ms-flex-direction:column;
  flex-direction:column;
  -webkit-align-items:stretch;
  -ms-flex-align:stretch;
  -ms-grid-row-align:stretch;
  align-items:stretch;
}

.deepen-action{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}

.book-list {
  margin: 0;
  padding: 0;
}

.book-icon {
  margin-right: 16px !important;
}

.deepen {
  background-color: rgba(0, 0, 0, 0.2);
}

.defalut-post-title {
  background-image: url("/img/defalut.jpg");
  /*background-position: center;*/
  height: auto;
}

.unname {
  font-size: 20px;
  margin:auto;
}

.unnamed2 {
  margin: auto;
  height: 128px;
  width: 128px;
  padding-top: 52px;
}

.fab-card {
  overflow: visible;
}

.fab-card .mdl-button--fab {
  position: absolute;
  right: 20px;
  top: -28px;
}

.fab-card .mdl-card__supporting-text {
  width: auto;
}

.post_entry .article-image {
  height: 180px;
}

.post_entry .mdl-card__supporting-text {
  padding-top: 0;
}

.category-defalut {
  background-image: url("/img/category/defalut.svg");
  background-position: center;
  height: 30%;
}

.no-padding {
  padding: 0;
}

.padding {
  padding: 16px;
}

.row-spacer {
  height: 166px;
}

.mini-logo {
  margin-right: 16px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #26a69a;
  background-image: url('/img/category/defalut.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.left-float {
  float: left;
}

.right-float {
  float: right;
}

.article .mdl-card__supporting-text {
  width: auto;
}
.article .mdl-card__title {
  height: 280px;
}

.meta {
  padding: 0 0;
}

.card-category {
  width: 10%;
  margin: 2px;
  float: left;
  display: inline;
}

#category-row{
  width: 250%;
}

.button_row {
  position: absolute;
  top: 50%;
  width: 100%;
}

.controls_prev {
  left: 10px;
  z-index: 5;
}

.controls_next {
  right: 10px;
  float: right;
  z-index: 5;
}