<div class="mdl-card__title ">
	<h2 class="mdl-card__title-text">About This Website</h2>
</div>
<div class="mdl-card__media headline">
	<img class="article-image" src="img/poipoipo.jpg" border="0" alt="">
</div>
<div class="mdl-card__supporting-text mdl-card--border">
	<p>Excepteur reprehenderit sint exercitation ipsum consequat qui sit id velit elit. Velit anim eiusmod labore sit amet. Voluptate voluptate irure occaecat deserunt incididunt esse in. Sunt velit aliquip sunt elit ex nulla reprehenderit qui ut eiusmod ipsum do. Duis veniam reprehenderit laborum occaecat id proident nulla veniam. Duis enim deserunt voluptate aute veniam sint pariatur exercitation. Irure mollit est sit labore est deserunt pariatur duis aute laboris cupidatat. Consectetur consequat esse est sit veniam adipisicing ipsum enim irure.</p>
</div>