<div class="demo-back">
	<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" 
		href="javascript:history.back(-1)" title="go back" role="button">
		<i class="material-icons" role="presentation">arrow_back</i>
	</a>
</div>
<div class="mdl-card mdl-shadow--4dp mdl-cell--12-col max-width">
	<div class="mdl-card__title defalut-post-title">
		<div class="mdl-card__title-text mdl-color-text--grey-50">
			<h3><%- page.title %></h3>
		</div>
	</div>
	<div class="mdl-card__supporting-text meta">
		<div class="minilogo"></div>
		<div>
			<strong><%- partial('post/category') %></strong>
			<span>2 days ago</span>
		</div>
	</div>
	<div class="mdl-card__supporting-text"><%- post.content %></div>
</div>
<%- partial('post/nav') %>