<div class="demo-back">
		<a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" 
			href="javascript:history.back(-1)" title="go back" role="button">
			<i class="material-icons" role="presentation">arrow_back</i>
			<span class="mdl-button__ripple-container">
				<span class="mdl-ripple"></span>
			</span>
		</a>
	</div>
	<div class="mdl-card mdl-shadow--4dp mdl-cell--12-col max-width">
		<div class="mdl-card__media mdl-color-text--grey-50">
			<h3><%- page.title %></h3>
		</div>
		<div class="mdl-card__supporting-text meta">
			<div class="minilogo"></div>
			<div>
				<strong><%- partial('post/category') %></strong>
				<span>2 days ago</span>
			</div>
		</div>
		<div class="mdl-card__supporting-text"><%- post.content %></div>
	</div>
<%- partial('post/nav') %>
<!-- <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
	<a href="index.html" class="demo-nav__button">
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
			<i class="material-icons">arrow_back</i>
		</button>
		Newer
	</a>
	<div class="section-spacer"></div>
	<a href="index.html" class="demo-nav__button">
		Older
		<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation">
			<i class="material-icons">arrow_forward</i>
		</button>
	</a>
</nav> -->

<!--               <div class="section-spacer"></div>
              <div class="meta__favorites">
                425 <i class="material-icons" role="presentation">favorite</i>
                <span class="visuallyhidden">favorites</span>
              </div>
              <div>
                <i class="material-icons" role="presentation">bookmark</i>
                <span class="visuallyhidden">bookmark</span>
              </div>
              <div>
                <i class="material-icons" role="presentation">share</i>
                <span class="visuallyhidden">share</span>
              </div> -->