<div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop logo-card">
  <div class="logo square"></div>
<div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-color--grey-100">
  <div>
    <strong><%= config.title %></strong>
    <div class="mdl-layout-spacer"></div>
  </div>
  </div>
</div>