<div class="mdl-card mdl-cell mdl-cell--12-col mdl-color--blue-grey-50">
	<div class="mdl-card__title mdl-shadow--12dp mdl-color--white">
		<h5 class="mdl-card__title-text">Category</h5>
	</div>
	<nav class="button_row">
		<button class="mdl-button mdl-js-ripple-effect mdl-js-button
			mdl-button--fab mdl-color--accent fab mdl-shadow--4dp" id="controls_prev">
			<i class="material-icons mdl-color-text--white">keyboard_arrow_left</i>
		</button>
		<button class="mdl-button mdl-js-ripple-effect mdl-js-button
			mdl-button--fab mdl-color--accent fab mdl-shadow--4dp" id="controls_next">
			<i class="material-icons mdl-color-text--white">keyboard_arrow_right</i>
		</button>
	</nav>
	<div class="mdl-card__supporting-text" id="category-row">
<% if (site.categories.length){ %>
	<% site.categories.each(function(category){ %>
	<div class="mdl-card card-category mdl-color--blue-grey">
		<a href="<%- category.path %>">
			<div class="mdl-card__title mdl-card--expand">
				<img src="/img/category/defalut.svg" class="unnamed2">
			</div>
		</a>
		<div class="mdl-card__actions deepen-action">
			<span class="mdl-badge" data-badge="23"><%- category.slug %></span>
		</div>
	</div>
	<% }) %>
<% }%>

	</div>
</div>