<style>
.demo-card-event > .mdl-card__actions {
	border-color: rgba(255, 255, 255, 0.4);
}
.demo-card-event > .mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
	padding-right: 5px;
	padding-left: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
	color: #fff;
}
</style>
<% if (site.posts.length){ %>
<% site.posts.sort('date', -1).limit(1).each(function(post){ %>
<div class="demo-card-event mdl-card mdl-shadow--2dp mdl-cell mdl-cell--8-col defalut-post-title">
	<div class="mdl-card__title mdl-card--expand deepen">
	<div class="mdl-card__title-text"><h4>
			Recent Post:<br>
			<%- post.title %></h4>
	</div>
	</div>
	<div class="mdl-card__actions mdl-card--border deepen">
		<i class="material-icons">format_list_bulleted</i>
		<span>Frontend</span>
		<i class="material-icons">event</i>
		<span><%- post.date.format("M/D/YYYY") %></span>
		<div class="mdl-layout-spacer"></div>
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" 
				href="<%- config.root %><%- post.path %>">
			Read More
		</a>
	</div>
</div>
<% }) %>
<% } %>