<div class="mdl-cell mdl-card mdl-shadow--4dp post_entry">
	<div class="mdl-card__media">
		<img class="article-image" src="/img/defalut.jpg">
	</div>
	<div class="padding">
	<div class="mdl-card__title no-padding">
		<h2 class="mdl-card__title-text"><%- post.title %></h2>
	</div>
	<div class="mdl-card__title no-padding">
	    <div class="mdl-layout-spacer"></div>
		<h5 class="mdl-card__subtitle-text"><%- titlecase(post.date.fromNow()) %></h5>
	</div>
	</div>
	<div class="mdl-card__supporting-text">
		<%- truncate(strip_html(post.content), {length: 100, separator: ' '}) %>
	</div>
	<div class="mdl-card__actions mdl-card--border">
		<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="<%- url_for(post.path) %>">Read more</a>
	</div>
</div>