<div class="mdl-card mdl-cell mdl-cell--4-col mdl-color--teal-400">
<a href="">
	<div class="mdl-card__title mdl-card--expand">
		<img src="/img/category/defalut.svg" class="unnamed2">
	</div>
</a>
	<div class="mdl-card__actions deepen-action">All Category</div>
</div>