<div class="mdl-card mdl-cell mdl-cell--4-col c2 mdl-color--light-green-500">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions category-name">Android</div>
</div>
<div class="mdl-card mdl-cell mdl-cell--4-col c3 mdl-color--teal-100">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions category-name">Frontend</div>
</div>
<div class="mdl-card mdl-cell mdl-cell--4-col c4 mdl-color--grey-100">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions category-name">Others</div>
</div>