<div class="mdl-card mdl-cell mdl-cell--8-col c4 mdl-color--grey-100">
  <div class="mdl-card__title mdl-card--expand"></div>
  <div class="mdl-card__actions category-name"><i class="material-icons">dashboard</i></div>
</div>