<footer class="mdl-mini-footer">
  <div class="mdl-mega-footer__middle-section">
  	<p> <a href="https://hexo.io">Hexo</a> Framework |
  	<a href="https://github.com/poipoipo/HexoTheme-Solomon">Solomon</a> Theme</p>
  </div>
</footer>