<div class="mdl-cardmdl-cellmdl-cell--8-col">
    <div class="mdl-card__title c1 card-title">
        <h2 class="mdl-card__title-text"></h2>
    </div>
    <div class="mdl-card__supporting-textmetamdl-color-text--grey-600">
      <div class="minilogo"></div>
      <div>
          <strong>TheNewist</strong>
          <span>2daysago</span>
      </div>
    </div>
</div>