<header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Index</a>
            <a class="mdl-navigation__link" href="/">Blog</a>
            <a class="mdl-navigation__link" href="/">Dashborad</a>
        </nav>
    </div>
</header>

<!-- <div class="mdl-layout__drawer mdl-layout- -small-screen-only mdl-layout- -large-screen-only">
    <nav class="mdl-navigation mdl-typography- -body-1-force-preferred-font">
        <a class="mdl-navigation__link is-active" href="#tab1">Home</a>
        <a class="mdl-navigation__link" href="#tab2">Android</a>
        <a class="mdl-navigation__link" href="#tab3">Web</a>
        <a class="mdl-navigation__link" href="#tab4">Miscellany</a>
    </nav>
</div> -->

<!-- <button id="menu-speed" class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>
<ul class="mdl-menu mdl-js-menu" for="menu-speed">
  <li class="mdl-menu__item">Fast</li>
  <li class="mdl-menu__item" disabled>Medium</li>
  <li class="mdl-menu__item">Slow</li>
</ul> -->