<ul class="mdl-list book-list">
  <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon book-icon">star</i>
      <span>Learning JavaScript</span>
      <span class="mdl-list__item-sub-title">Shelley Powers</span>
    </span>
  </li>
    <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon book-icon">star</i>
      <span>SAMSHING Nobe.js</span>
      <span class="mdl-list__item-sub-title">Guillermo Rauch</span>
    </span>
  </li>
    <li class="mdl-list__item mdl-list__item--two-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-icon book-icon">star</i>
      <span>Eloquent JavaScript</span>
      <span class="mdl-list__item-sub-title">Marijn Haverbeke</span>
    </span>
  </li>
</ul>