 <div>
     Category
 </div>
 <nav class="vertical-navigation mdl-navigation">
      <%- list_categories({show_count: false, style: 'none', class: 'mdl-color-text--blue-grey-400 demo-navigation', separator: ''}) %>
 </nav> 