<div class="mdl-card mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop logo-card">
  <div class="logo square"></div>
<div class="mdl-card__supporting-text mdl-color-text--grey-600 mdl-color--grey-100">
  <div>
    <strong><%= config.title %></strong>
    <div class="mdl-layout-spacer"></div>
<!--   <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn">
    <li class="mdl-menu__item">About</li>
    <li class="mdl-menu__item">Message</li>
    <li class="mdl-menu__item">Favorite</li>
    <li class="mdl-menu__item">Search</li>
  </ul>
  <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
    <i class="material-icons" role="presentation">more_vert</i>
    <span class="visuallyhidden">show menu</span>
  </button> -->
  </div>
  </div>
</div>