<footer class="page-footer cyan">
  <div class="ribbon"></div>
  <div class="footer-copyright">
    <div class="container black-text">
      <%= __('powered_by') %> <a href="http://hexo.io/" class="white-text text-lighten-4">Hexo</a>
      With Theme <a href="http://hexo.io/" class="white-text text-lighten-4">Solomon</a>
    <a class="white-text text-lighten-4 right" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a>
    </div>
  </div>
</footer>