<nav class='semi-transparent'>
	<div class='container white-text'>
		<a class='brand-logo' href='/'>Solomon</a>
		<a class='button-collapse' href='#', data-activates='mobile-demo'>
			<i class='material-icons'>menu</i></a>
		<ul class='right hide-on-med-and-down'>
			<li><a class='tooltipped' data-position="bottom" data-delay="50" data-tooltip="About" href='/about'>
				<i class='material-icons'>info</i>
			</a></li>
			<li><a class='tooltipped' data-position="bottom" data-delay="50" data-tooltip="Blog">
				<i class='material-icons'>inbox</i>
			</a><li>
			<li><a class='tooltipped' data-position="bottom" data-delay="50" data-tooltip="Links">
				<i class='material-icons'>favorite_border</i>
			</a><li>
		</ul>
	</div>
</nav>