<div id="about" class="row container section scrollspy">
  <div class="col s3">
    <img src='<%= theme.avatars_src %>' class="circle responsive-img">
  </div>
  <div class="col s6">
    <h3 class="header">About <%= config.author %></h3>
    <p class="grey-text text-darken-3 lighten-3"><%= theme.introduction %></p>
  </div>
</div>