<div id="blog" class="row container section scrollspy">
  <h3>My Blog</h3>
  <div class="col s9">
    <div class="slider">
      <ul class="slides">
        <% for(var i = 0; i < theme.recent_blog_count; i++){ %>  
          <li>
          <img src="Blog Image">
          <div class="caption center-align">
            <h3>Blog Title</h3>
            <h5 class="light grey-text text-lighten-3">Blog Time</h5>
          </div>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
  <div class="col s3">
    <h5 class="header">Tag</h5>
    <% if (site.tags.length){ %>
      <%- list_tags({show_count: theme.show_count}) %>
    <% } else { %>
      <p>No tag found :(</p>
    <% } %>
    <p><a class="waves-effect waves-light btn">button</a></p>
  </div>
</div>