<div id="links" class="section scrollspy row container">
  <div class="collection">
    <% theme.links.forEach(function(link){ %>
      <a href="<%- link.url %>" class="collection-item"><%- link.name%></a>
    <% }) %>
  </div>
</div>